<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Top 10 Products Reviews per Day</nb-card-header>
      <nb-card-body class="charts">
        <ngx-chartjs-pie></ngx-chartjs-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Top 10 Products Reviews / 100 & price</nb-card-header>
      <nb-card-body class="charts">
        <ngx-chartjs-bar></ngx-chartjs-bar>
      </nb-card-body>
    </nb-card>
  </div>
</div>
